.opac{
    position: fixed;
width: 100%;
height: 100%;
top: 0;
    z-index: 33;
background-color: rgba(8, 8, 8, 0.5)
}


.buck{
    position: absolute;
    right: 0px;
    z-index: 100;
}
.buck:hover{
cursor: pointer;
}
.li-pad{
    margin-top: 220px;
}

.products{
    position:absolute ;
    top: 0;
}