.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 


}
.back-nav{
    background-color: rgb(8, 5, 31);
    display: inline-block;
    width: 100%;

}
a{
    text-decoration: none;
    color: white;
}
 a.active{
    text-shadow: 0px 0px 6px wheat, 0 0 1em wheat
}