.cart{

z-index: 15;
position: relative;
right: 0px;
width: 300px;
background-color: gray}
.cartImage{
float: right;
z-index: 100;
position: absolute;
right: 100px;
cursor: pointer;  
width: 40px;
height: 100px;

}
li{
    list-style-type: none;
}